{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>My Social</title>
    <link href="{% static  'web/css/style.css' %}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static  'web/images/fav-icon.png' %}"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!---start-click-drop-down-menu----->
    <script src="{% static  'web/js/jquery.min.js' %}"></script>
    <!----start-dropdown--->
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(function () {
            $('#activator').click(function () {
                $('#box').animate({'top': '0px'}, 500);
            });
            $('#boxclose').click(function () {
                $('#box').animate({'top': '-700px'}, 500);
            });
        });
        $(document).ready(function () {
            //Hide (Collapse) the toggle containers on load
            $(".toggle_container").hide();
            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
            $(".trigger").click(function () {
                $(this).toggleClass("active").next().slideToggle("slow");
                return false; //Prevent the browser jump to the link anchor
            });

        });
    </script>
    <!----//End-dropdown--->
</head>
<body>
<!---start-wrap---->
<!---start-header---->
<div class="header">
    <div class="wrap">
        <div class="clear"></div>
    </div>
</div>
<!---//End-header---->
<!---start-content---->
<div class="content">
    <div class="wrap">

        <div class="single-page">
            <div>
                <div id="social-test">

                    <p class="credits"><a href="{% url 'mysocial-home' %}">Home</a></p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="single-page-artical">
                <div class="artical-content">
                    {% if media %}
                        {% if media.type == 'image' or media.type == 'carousel' %}
                            <img src="{{ media.images.standard_resolution.url }}" title="banner1">
                            <h3><a href="#">{{ media.caption.text }}</a></h3>
                            </div>
                            <div class="clear"></div>
                        {% elif media.type == 'video' %}
                            <video width="640" height="640" controls>
                                <source src="{{ media.videos.standard_resolution.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <h3><a href="#">{{ media.caption.text }}</a></h3>
                            </div>
                            <div class="clear"></div>

                        {% endif %}
                    {% else %}
                        <p>No DATA.</p>
                    {% endif %}
        </div>
        <!---start-comments-section--->
        <div class="comment-section">
            <div class="grids_of_2">
                <h2>Comments</h2>
                {% if comments %}
                    {% for c in comments %}
                        <div class="grid1_of_2">
                            <div class="grid_img">
                                <a href=""><img src="{{ c.from.profile_picture }}" alt=""></a>
                            </div>
                            <div class="grid_text">
                                <h4 class="style1 list"><a href="#">{{ c.from.username }}</a></h4>
                                <h3 class="style">epoch time {{ c.created_time }}</h3>
                                <p class="para top"> {{ c.text }}</p>
                                <a href="" class="btn1">Click to Reply</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Comments.</p>
                {% endif %}
                <div class="artical-commentbox">
                    <h2>Leave a Comment</h2>
                    <div class="table-form">
                        <form action="#" method="post" name="post_comment">
                            <div>
                                <label>Name<span>*</span></label>
                                <input type="text" value=" ">
                            </div>
                            <div>
                                <label>Email<span>*</span></label>
                                <input type="text" value=" ">
                            </div>
                            <div>
                                <label>Your Comment<span>*</span></label>
                                <textarea> </textarea>
                            </div>
                        </form>
                        <input type="submit" value="submit">

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!---//End-comments-section--->
    </div>
</div>
</div>
<!----start-footer--->
<div class="footer">
    <p>My Social</p>
</div>
<!----//End-footer--->
<!---//End-wrap---->
</body>
</html>

